
*.lock
*.ide-shm
*.ide
*.ide-wal
*.force
*.cache
.vs/*
bin/
obj/


ImageEditor/ImageEditor.Android/obj/Debug/81/adb.props
*.flag
*.props
*.props
*.props
ImageEditor/ImageEditor.Android/obj/Debug/81/adb.props
ImageEditor/ImageEditor.Android/obj/Debug/81/adb.props
*.props
